html, body {
    height: 100%;
}
main {
    height: 80vh;
}
main  * {
    height: 100%;
}

#content .label {
    position: absolute;
    text-align: center;
    font-size: 4vw;
    width: 100%;
    color: gainsboro;
    z-index:0;
    top:30%;
}

#content textarea {
    background-color: transparent;
    z-index:5;
    position: absolute;
}


#content .col-inner {
    position: relative;
}